server:
  port: 8083

spring:
  application:
    name: notification-service


  rabbitmq:
    host: ${SPRING_RABBITMQ_HOST:localhost}
    port: ${SPRING_RABBITMQ_PORT:5672}
    username: ${SPRING_RABBITMQ_USERNAME:rabbituser}
    password: ${SPRING_RABBITMQ_PASSWORD:rabbitpass}
    listener:
      simple:
        acknowledge-mode: auto
        retry:
          enabled: true
          initial-interval: 3000
          max-attempts: 3


  mail:
    host: ${MAIL_HOST:smtp.gmail.com}
    port: ${MAIL_PORT:587}
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true


app:
  rabbitmq:
    exchange-name: events.exchange
    queue-name: notifications.queue
    binding-key: event.*.*

logging:
  level:
    root: INFO
    org.app.notificationservice: DEBUG
    org.springframework.amqp: DEBUG
