.env
.idea/
*.iml
out/
target/
*.class
*.jar
*.war
*.log
logs/
.DS_Store
.vscode/
node_modules/
dist/
build/
coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.sass-cache/
.cache/

